<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main(content_body)">
<head th:replace="layouts/_head"></head>
<body>
  <header th:replace="layouts/_header"></header>

  <div class="container mt-2">
    <th:block th:each="entry : ${flash}">
      <div th:class="|alert alert-${entry.key}|"
           th:text="${#messages.msgOrNull(entry.value, flashArg) ?: entry.value}"></div>
    </th:block>

    <div th:replace="${content_body}">Contents</div>

    <footer th:replace="layouts/_footer"></footer>

    <div th:replace="shared/_debug"></div>
  </div>

  <script th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
