<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="${title}">Title</title>
</head>
<body class="mt-5">
<div class="container">
<ul class="text-success" th:unless="${#lists.isEmpty(messages)}">
    <li th:each="msg : ${messages}" th:text="${msg}"></li>
</ul>
<h1>Listing microposts</h1>
<table class="table" th:unless="${#lists.isEmpty(microposts)}">
    <thead>
    <tr>
        <th scope="col">Content</th>
        <th scope="col">UserID</th>
        <th scope="col" colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="micropost : ${microposts}" th:object="${micropost}">
        <td th:text="*{content}"></td>
        <td th:text="*{userId}"></td>
        <td ><a href="microposts/{id}" th:href="@{microposts/{id}(id=*{id})}">Show</a></td>
        <td ><a href="microposts/{id}/edit" th:href="@{microposts/{id}/edit(id=*{id})}">Edit</a></td>
        <td ><a href="microposts/{id}/delete" th:href="@{microposts/{id}/delete(id=*{id})}">Delete</a></td>
    </tr>
    </tbody>
</table>

<br>
<a href="microposts/new" th:href="@{microposts/new}">Create micropost</a>

<script th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>
