<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title th:text="${title}">Title</title>
</head>
<body class="mt-5">
<div class="container">
<ul class="text-success" th:unless="${#lists.isEmpty(messages)}">
    <li th:each="msg : ${messages}" th:text="${msg}"></li>
</ul>
<h1>Show micropost</h1>
<table th:object="${micropost}">
    <tbody>
    <tr>
        <td><strong class="">Content: </strong></td>
        <td class="pl-2" th:text="*{content}"></td>
    </tr>
    <tr>
        <td><strong class="">UserID: </strong></td>
        <td class="pl-2" th:text="*{user.id}"></td>
    </tr>
    </tbody>
</table>

<br>
<a href="/microposts" th:href="@{/microposts}">Back to List</a>

<script th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</div>
</body>
</html>
