<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/application :: main(~{::content})">
<head>
  <title>All users</title>
</head>
<body>
<th:block th:fragment="content">
  <h1 th:text="#{view.users.index.heading}">All users</h1>

  <th:block th:replace="shared/_pagination(${users}, '/users')"></th:block>

  <ul class="users">
    <li th:replace="users/_user"></li>
  </ul>

  <th:block th:replace="shared/_pagination(${users}, '/users')"></th:block>

  <form id="deleteForm" action="#" th:action="@{#}" method="post"></form>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      $("button.del-btn").click(function(event) {
        return confirm('[[#{view.users.index.delete.confirm}]]');
      });
    });
  </script>

</th:block>
</body>
</html>
