<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/application :: main(~{::content})">
<head>
  <title>Show User</title>
</head>
<body>
<th:block th:fragment="content">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info" th:object="${userForm}">
        <h1>
          <img th:replace="shared/_gravatar">
          [[*{name}]]
        </h1>
      </section>
      <section th:replace="shared/_stats"></section>
    </aside>
    <div class="col-md-8 mt-3">
      <th:block th:if="${@sessionsHelper.loggedIn}">
        <div th:replace="users/_follow_form"></div>
      </th:block>
      <th:block th:if="${microposts.totalPages > 0}">
      <h3 class="mb-3" th:text="#{view.users.show.microposts.heading(${microposts.totalElements})}">Microposts (count)</h3>
      <ol class="microposts">
        <li th:replace="microposts/_micropost"></li>
      </ol>
      <th:block th:replace="shared/_pagination(${microposts}, |/users/${userForm.id}|)"></th:block>
      </th:block>
    </div>
  </div>
</th:block>
</body>
</html>
