<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layouts/application :: main(~{::content})">
<head>
  <title>Reset password</title>
</head>
<body>
<th:block th:fragment="content">
  <h1 th:text="#{view.password-resets.edit.heading}">Reset password</h1>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form action="#" th:action="@{/password_resets/{resetToken}(resetToken = *{resetToken})}" method="post"
            th:object="${userForm}">
        <th:block th:replace="shared/_error_messages"></th:block>

        <input id="email" type="hidden" name="email" th:field="*{email}">

        <div class="form-group">
          <label for="password" th:text="#{userForm.password}">Password:</label>
          <input id="password" class="form-control" type="password" th:field="*{password}" value="user.password"
                 th:errorclass="field_with_errors">
        </div>

        <div class="form-group">
          <label for="passwordConfirmation" th:text="#{userForm.passwordConfirmation}">Confirmation:</label>
          <input id="passwordConfirmation" class="form-control" type="password" th:field="*{passwordConfirmation}"
                 value="user.passwordConfirmation" th:errorclass="field_with_errors">
        </div>

        <input class="btn btn-success mb-0" type="submit" value="Update password" th:value="#{view.password-resets.edit.submit}">
      </form>
    </div>
  </div>
</th:block>
</body>
</html>
